.git
.gitignore
node_modules
client/node_modules
server/node_modules
client/.next
server/dist
*.log
logs
.env
.env.*
client/.env*
server/.env*
server/prisma/*.db
server/prisma/*.db-journal
*.bat
*.vbs
*.ps1
